{# templates/emails/contact.html.twig #}

<h3>Message envoyé depuis le formulaire de contact</h3>

<p>Name : {{ formSend.name }} </p>
<p>Email : {{ formSend.mail }} </p>
<p>Subject : {{ formSend.subject }} </p>
<p>Message : {{ formSend.message }} </p>